[Unit]
Description=The MQTT_Monitor python script
Requires=multi-user.target
After=multi-user.target
AllowIsolate=yes

[Service]
User=piz
ExecStart=/usr/bin/python3 /home/piz/documents/pizero_mqtt_monitor.py
Restart=always

[Install]
WantedBy=multi-user.target